.about-data {

}

.about-data__description {
  margin-bottom: 23px;
  text-align: center;
}


.about-data__subtitle {
  width: 215px;
  margin: 0 auto;
  margin-bottom: 14px;
  text-align: center;
}

.about-data__text {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto Regular';
  font-size: 14px;
  line-height: 24px;
  color: #455a64;
  text-align: left;
}

.about-data__content {
  padding-left: 30px;
  padding-right: 30px;
}