.about {

}

.about__left {
  padding-bottom: 22px;
  text-align: center;
  background-color: #f0eee9;
}

.about__title-wrap {
  padding-top: 2px;
  padding-bottom: 13px;
  background-color: #efeee9;
}

.about__right {
  padding-top: 27px;
  padding-bottom: 30px;
  background-color: #eeebdf;
}

