.reviews {
  background-color: #ffffff;
  background-image: url('/images/bg/reviews-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 1280px;
  clear: both;
} 

.reviews__title {
  margin: 0 auto;
}

.reviews__wrapper {
  
}