.triangle {
  display: flex;
  width: 100%;
  height: 30px;

  &__element {
    width: 50%;
  }

  &__element--fill {
    &-white {
      fill: $white;
      left: 0;
    }

    &-beige{
      fill: $white;
      right: 0;
    }
  }
}
