include ../mixins/mixins.pug

doctype html
html(lang="ru-RU")
	include ../common/head.pug
body
	.main-layout
		<!-- / ========= header ========= \ -->
		include  ../common/header.pug
		<!-- / ========= content ========= \ -->
		block content
		<!-- / ========= modal ========= \ -->
		include ../common/overlay.pug
		<!-- / ========= footer ========= \ -->
		include ../common/footer.pug
		<!-- / ========= svg ========= \ -->
		include ../common/svg.pug
		<!-- / ========= preloader ========= \ -->
		include ../common/preloader.pug